{% load static %}
<footer class="containerfooter">
    <div class="containerprox p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Proximamente Anime</h5>
                <ul class="list-unstyled mb-0">
                    <li><p>Death Note</p></li>
                    <li><p>Berserk</p></li>
                    <li><p>Gantz</p></li>
                    <li><p>GTO</p></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Proximamente Manga</h5>
                <ul class="list-unstyledn mb-0">
                    <li><p>Death Note</p></li>
                    <li><p>Berserk</p></li>
                    <li><p>Gantz</p></li>
                    <li><p>GTO</p></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h5 class="text-uppercase fw-bold mb-4">Contact</h5>
                <p>Carlos Saavedra Villa Alemana Chile</p>
                <p><a href="mailto:cadevillajefferson@gmail.com" target="_blank">cadevillajefferson@gmail.com</a></p>
                <p>+ 56 9 9491 7220</p>
            </div>
        </div>
    </div>
    <div class="copifooter">
        <div class="nav-list" style="width: 45%; display: inline-block;">
        <a class="linkf" href="https://jeff2.pythonanywhere.com/" target="_blank">© 2020 Copyright: Jeff_Developer</a></div>
        <div class="nav-list"style="width: 45%; display: inline-block;">
            <a class="linkf" href="{% url 'index' %}">Inicio</a>
        </div>
    </div>
</footer>