{% extends "layout/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body height="100%">
        {% block content %}
            <div class="containercap">
                <h1 class="portini">Samurai X</h1>
            </div>
        {% endblock content %}
        <script src="" async defer></script>
    </body>
</html>